body {

    background-image: linear-gradient(rgba(101, 196, 255, 0.2), rgba(249, 253, 255, 0.55)), url("../img/cancha.png");
);
    background-repeat: no-repeat;

    background-size: cover;

}

#buscar::placeholder {
    color: #cccccc;
    text-shadow: 0 0 5px black;
}

#buscador {
    width: 50%;
}

#imgJugador {
    width: 10em;
}

#tarjetaJugador {
    border-radius: 15px;
    border-width: thin;
    border-style: solid;
    border-color: #d0f0ff;
}

@media (max-width: 1199.98px) {


    #buscador {
        width: 85%;
    }

    #buscar::placeholder {
        color: white;
        text-shadow: 0 0 5px black;
    }

    #imgJugador {
        width: 6em;
    }


}